[client]
port            = 3306
socket          = /var/lib/mysql/mysql.sock

[mysqld]
###Main Conf###
port            = 3306
socket          = /var/lib/mysql/mysql.sock
bind-address=0.0.0.0
skip-external-locking
skip-name-resolve
default-storage-engine=myisam
default-tmp-storage-engine=myisam
collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
thread-concurrency = 24 # Try number of CPU's*2 for thread_concurrency
max-allowed-packet = 16M
explicit-defaults-for-timestamp = TRUE

###Master Replication Conf###
server-id = 1
binlog-do-db = ENV_PRJ_NAME

###Buffers Conf###
key-buffer-size = 1024M
sort-buffer-size = 768M
read-buffer-size = 1024M
read-rnd-buffer-size = 128M
myisam-sort-buffer-size = 8192M 

###Cache Conf###
thread-cache-size = 8
query-cache-size = 32M

###Logs Conf###
log-bin=/var/lib/mysql/mysql-bin
max-binlog-size=1024M
expire-logs-days = 7
log-warnings = 0

[mysqldump]
quick
max-allowed-packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key-buffer = 256M
sort-buffer-size = 256M
read-buffer = 2M
write-buffer = 2M

[myisamchk]
key-buffer = 256M
sort-buffer-size = 256M
read-buffer = 2M
write-buffer = 2M

[mysqlhotcopy]
interactive-timeout